/* http://stackoverflow.com/questions/17234768/font-face-not-working-for-my-ttf-font-in-all-browsers */
		@font-face {
			font-family: 'krabby_pattyregular';
			src: url('fonts/krabby_patty-webfont.woff2') format('woff2'),
				 url('fonts/krabby_patty-webfont.woff') format('woff');
		}
		*{
			font-family: 'krabby_pattyregular';
		}